<html>

<head>
  <title>Desafio 01</title>
</head>

<body>
  <form action="/check" method="POST">
    <input type="text" name="userName" placeholder="Informe seu nome" />
    <input type="text" name="birthDate" placeholder="dd/mm/aaaa" />
    <button type="submit">Verificar</button>
  </form>
</body>

</html>
